!!Xft*dpi:96
Xft*antialias: true
Xft*rgba: rgb
Xft*hinting: true
Xft*hintstyle: hintslight
urxvt.background: #000000
urxvt.foreground: #ffffff
urxvt.scrollBar: false
URxvt.keysym.C-0: font-size:reset
URxvt.keysym.C-minus: font-size:decrease
URxvt.keysym.C-equal: font-size:increase
URxvt.background: #000000
URxvt.foreground: #ffffff
URxvt*transparent: true
URxvt*shading: 15
URxvt.internalBorder: 4

URxvt.scrollBar: false
URxvt.depth:24
!!URxvt.font:xft:JetBrains Mono NL :size=10
!!URxvt.boldFont:xft:JetBrains Mono NL:size=10
URxvt.font:xft:Iosevka Term Regular:size=14:style=Regular
URxvt.italicFont:xft:Iosevka Term Regular:size=14:style=Italic
URxvt.boldFont:xft:Iosevka Term:size=14:style=Bold

